<!DOCTYPE html>
<html>
<head>
<%- include partials/header.ejs %>
</head>
<body>

<%- include partials/topnav.ejs %>
<% var cart_width = "90%"%>
<div class="directory_container">
<div class="shopping-cart" style="flex-basis: 80%;">
  <table>
    <tr class="table-header">
      <th class="product-image">Image</th>
      <th class="product-details">Product</th>
      <th class="product-price">Price</th>
      <th class="product-quantity">Quantity</th>
      <th class="product-removal">Remove</th>
      <th class="product-line-price">Total</th>
    </tr>
   <%var cart_total = 0%>
   <% for(var i=0; i < items.length; i++) {%>
      <tr data-id = "<%= items[i].product_id%>" class="product">
        <td class = "product-image">
            <img src="<%=items[i].image%>">
        </td>
        <td class="product-details">
            <div class="product-title"><%=items[i].name%></div>
        </td>
        <td class="product-price">
          <%=items[i].price%>
        </td>
        <td class="product-quantity">
            <input type="number" value="<%=items[i].item_count%>" min="1">
        </td>
        <td class="product-removal">
          <button class="remove-product"> Remove </button>
        </td>
        <td class="product-line-price">
          <%var total = items[i].price * items[i].item_count%>
          <%=total%>
          <% cart_total = cart_total + total%>
        </td>
      </tr>
    <%}%>
  </table>
 
<div class="totals">
  <div class="totals-item">
    <label>Subtotal</label>
    <div class="totals-value" id="cart-subtotal"></div>
  </div>
  <div class="totals-item">
    <label>Tax (5%)</label>
    <div class="totals-value" id="cart-tax"></div>
  </div>
  <div class="totals-item totals-item-total">
    <label>Grand Total</label>
    <div class="totals-value" id="cart-total"></div>
  </div>
    <button class="checkout">Checkout</button>
</div>

</div>

<div class="Leaderboard" style="flex-basis: 20%; padding: 20px;">
<%include partials/leaderboard.ejs%>
</div>

</div>

<!-- //footer -->
<%- include partials/footer.ejs %>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
/* Display cart totals, etc. */
$( document ).ready(function() {
    recalculateCart(true);
});

var PORT = 8003;
var requestURL = "http://vm-nutritionstudy.eecs.tufts.edu:" + PORT;
var taxRate = 0.05;
var shippingRate = 9.00; 
var fadeTime = 300;

//Make a post request object
function Request() {
    var request;

    this.makeRequest = function(endpoint, data, callback) {
        request = new XMLHttpRequest();
        request.open("POST", requestURL + "/" + endpoint, true);
        request.onreadystatechange = 
            function () {
                if (request.readyState === 4 && request.status === 200) {
                    console.log("done with good request");
                    callback(request);
                }
            }
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        request.send(data);
    }
}

/* Assign actions */
$('.product-quantity input').change( function() {
    updateQuantity(this);
});

$('.product-removal button').click( function() {
    removeItem(this);
});


$('.checkout').click( function() {
    checkoutCart(this);
});

/* Recalculate cart */
function recalculateCart(onload=false) {
    var cartTotalRequest = new Request();
    cartTotalRequest.makeRequest("cart/recalculate-totals", "", function(request) {
        var totals = JSON.parse(request.responseText);
        var subtotal = totals['subtotal'];
        var tax = totals['tax'];
        var total = totals['total'];

        /* Update totals display */
        $('.totals-value').fadeOut(fadeTime, function() {
            $('#cart-subtotal').html(subtotal.toFixed(2));
            $('#cart-tax').html(tax.toFixed(2));
            $('#cart-total').html(total.toFixed(2));

            if(total == 0){
                $('.checkout').fadeOut(fadeTime);
            }else{
                $('.checkout').fadeIn(fadeTime);
            }

            $('.totals-value').fadeIn(fadeTime);
        });

        if (<%=tracking_budget%>) {
            /* Update remaining budget */
            var newBudget = (<%=total_budget%> - total).toFixed(2);
            if (newBudget < 0) {
                var overBudget = (-newBudget).toFixed(2);
                var message_start = (onload) ? "You are currently $" : "This item puts you $";
                alert(message_start + overBudget + " over budget. You will not be able to checkout if you are over budget.");
            }
            var budgetRequest = new Request();
            var budgetData = "budget=" + newBudget;
            budgetRequest.makeRequest("cart/update-budget", budgetData, function(request) {
                $('.budget_display').fadeOut(fadeTime, function() {
                    document.getElementById('budget_display').innerHTML = "Remaining Budget: $" + newBudget;
                    $('.budget_display').fadeIn(fadeTime);
                });
            });            
        }
    })
}


/* Update quantity */
function updateQuantity(quantityInput) {
    /* Calculate line price */
    var productRow = $(quantityInput).parent().parent();
    var price = parseFloat(productRow.children('.product-price').text());
    var quantity = $(quantityInput).val();
    var linePrice = price * quantity;

    /* make post request to update food quanitity */
    var request = new Request();
    var data = "id=" + productRow.attr('data-id') + "&count=" + quantity;

    request.makeRequest("cart/change-count", data, function(request) {

        /* Update line price display and recalc cart totals */
        productRow.children('.product-line-price').each(function () {
            $(this).fadeOut(fadeTime, function() {
                $(this).text(linePrice.toFixed(2));
                recalculateCart();
                $(this).fadeIn(fadeTime);
            });
        });
        cart_count = request.responseText;

        if(cart_count) {
            if(cart_count == "0") {
                $('.badge').text("");
            } else {
                $('.badge').text(cart_count);
            }
        }
    });
}

/* Remove item from cart */
function removeItem(removeButton) {
    var request = new Request();
    var product = $(removeButton).parent().parent();
    var data    = "id=" + product.attr('data-id');

    /* Post request to remove item from cart */
    request.makeRequest("cart/remove", data, function(request){
        /* Remove row from DOM and recalc cart total */
        product.slideUp(fadeTime, function() {
            product.remove();
            recalculateCart();
        });

        cart_count = request.responseText;

        if(cart_count) {
            if(cart_count == "0") {
                $('.badge').text("");
            } else {
                $('.badge').text(cart_count);
            }
        }
    });
} 

/* Checkout items and create new empty cart for user */
function checkoutCart(checkoutButton) {
    if (<%=tracking_budget%>) {
        /* Parsing out numerical value */
        var curr_budget = $('.budget_display').text().match(/[-]?[\.\d]+/);
        console.log("Current budget: " + curr_budget);
        alert("CHECKING OUT");
        if (curr_budget < 0) {
            var overBudget = (-curr_budget).toFixed(2);
            alert("You are $" + overBudget + " over budget, you must be at or below budget to check out.");
            return;
        }
    }

    var request = new Request();
    console.log($(checkoutButton).parent().parent());
    var data = $(checkoutButton).parent().parent(); // shopping cart div; @TODO: is this data necessary to pass to api call?

    request.makeRequest("cart/checkout-cart", data, function(request) {
        cart_count = request.responseText;
        $('.badge').text(cart_count);
        recalculateCart(); //@TODO: is this necessary?
        location.replace("http://vm-nutritionstudy.eecs.tufts.edu:" + PORT + "/past-purchases");
    });
}

</script>
</body>
</html>